# Replicating _Intermediary asset pricing: New evidence from many asset classes_

### James, Young Jin Song, Jaehwa Youm, Monica Panigrahy, and Jacob Simeral

In [1]:
import load_nyfed
load_nyfed.pull_nyfed_primary_dealers_list(load_nyfed.url)
# import Table_01
# import Table_A1
# import Table_A1_to_latex
# import Table_01_to_latex

import pandas as pd
import wrds
import config
from datetime import datetime
import unittest
import matplotlib.pyplot as plt
import numpy as np
import Table02Analysis
import Table02Prep

import Table03Load
import Table03Analysis
import Table03

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

Downloading from https://www.newyorkfed.org/medialibrary/media/markets/Dealer_Lists_1960_to_2014.xls
File saved to cache at data/pulled/nyfed_primary_dealers_list.xls.

/Users/wenlan/python-github/finm-32900-final-project/src/Table02Prep.py:443: SyntaxWarning: invalid escape sequence '\l'
  \caption{""" + caption + """}

### 1. Table 01

#### 1-1 Pull the NY Fed primary dealers list from the NY Fed website

* Utilize the pull_nyfed_primary_dealers_list function, as defined in the 'load_nyfed.py' file, to download the 'nyfed_primary_dealers_list.xls' Excel file. This function saves the downloaded file into the 'data/pulled' directory.
* This process is managed by the task_pull_nyfed() function in the 'dodo.py' file. It handles downloading the 'nyfed_primary_dealers_list.xls' Excel file and saving it in the 'data/pulled' directory.

#### 1-2 Load the NY Fed primary dealers list from the cached files in the 'data/pulled' directory

* Use the 'load_nyfed_primary_dealers_list' function to access the NY Fed primary dealers list from the cached data in the 'data/pulled' directory. Focus on the '2000s' and 'Dealer Alpha' worksheets to extract the list of primary dealers as of February 2014, aiming to replicate Table 1.

#### 1-3 Replicate Table 1 using data from the 'nyfed_primary_dealers_list.xls' Excel file

* The '2000s' worksheet provides annual listings of primary dealers from 2000 to 2014; refine this data to isolate dealers active as of February 2014.

* The 'Dealer Alpha' worksheet covers all primary dealers from 1960 to 2014, including their start and end dates. Clean this data to facilitate matching with the primary dealer listings found in the '2000s' worksheet."

* Match the 2014 primary dealer list with their start dates, taking care to handle name discrepancies across two Excel sheets, such as extra spaces or differences in punctuation.
* Also, for dealers who were active, paused, and then resumed, use their latest start date. The code should adjust for these variations to correctly align with the table in the paper. Lastly, arrange the start dates from earliest to most recent.

* The author manually matched dealers with their publicly-traded holding companies. For the replication, a 'ticks.csv' file was created and placed in the 'data/manual' directory, containing the mapping information between primary dealers and their holding companies. Subsequently, an additional column was introduced to the 'merged_df' table to display the corresponding holding company for each dealer, utilizing the information from the 'ticks.csv' file.

#### 1-4 Convert the table to LaTeX format using the to_latex() function

* The to_latex function, located in the 'Table_01_to_latex.py' file, is utilized to convert the 'merged_df_final' table into LaTeX format. The resulting LaTeX code is then saved into the 'Table_01_to_latex.tex' file within the output directory.
* Before converting the table to LaTeX format, replace '&' with '\\&' in company names. Since LaTeX uses '&' to recognize table columns, an unescaped '&' in company names can cause errors when generating the table in LaTeX format.

#### 1-5 Complete the LaTeX setup to replicate Table 1, incorporating the formatted table

* Use the 'Table_01_to_latex.tex' file from the 'output' directory, which contains the table in LaTeX format, to create a 'Report_Table_01.tex' file in the 'reports' directory. This action replicates the entire table. The table is inserted into 'Report_Table_01.tex' by employing the '\input{\PathToOutput/Table_01_to_latex.tex}' command.

### 2. Table A.1

#### 2-1 Load the NY Fed primary dealers list from the cached files in the 'data/pulled' directory

* Use the 'load_nyfed_primary_dealers_list' function to access the NY Fed primary dealers list from the cached data in the 'data/pulled' directory. This time, focus on the 'Dealer Alpha' worksheets to extract the list of primary dealers from 1960 to 2014, including their start and end dates, with the aim of replicating Table A.1.

#### 2-2 Replicate Table A.1 using data from the 'nyfed_primary_dealers_list.xls' Excel file

* Clean the data from the 'Dealer Alpha' worksheet to replicate Table A.1, including formatting dates and marking companies still active as primary dealers with 'Current' in the end date column, etc.

#### 2-3 Convert the table to LaTeX format using the to_latex() function

* The to_latex function, found in the 'Table_A1_to_latex.py' file, is used to convert the 'df_dealer_alpha' table into LaTeX format. The resulting LaTeX code is then saved in the 'Table_A1_to_latex.tex' file within the output directory.

* As described in the Table 01 replication process, before converting the table to LaTeX format, replace '&' with '\\&' in company names. This is necessary because LaTeX uses '&' to recognize table columns, and an unescaped '&' in company names can cause errors when generating the table in LaTeX format.
* To match the format presented in Table A.1, separate the primary dealer list at the midpoint, adding a separator column for visual division

#### 2-4 Complete the LaTeX setup to replicate Table A.1, incorporating the formatted table

* To replicate the entire table in a report, use the 'Table_A1_to_latex.tex' file from the 'output' directory. Create a 'Report_Table_A1.tex' file in the 'reports' directory and insert the table by using the command '\input{\PathToOutput/Table_A1_to_latex.tex}'.

#### 2-5 Limitations on Replicating Table A.1

* While the replication closely mirrors Table A.1 in format, the list of primary dealers, and data accuracy including start and end dates, a perfect match with the original Table A.1 in the paper is not achieved for several reasons:

* The author used abbreviated company names, shortened manually, whereas the Excel file from the NY Fed features the complete names. 
* The author consolidated the list by combining entries that, despite name changes, continued as primary dealers. In contrast, the Excel file from the NY Fed presents a more extensive list by including all dealers, accounting for their names before and after changes, resulting in a higher number of entries.
* Due to the differences in abbreviation usage and the consolidation approach by the author, conducting precise unit testing was challenging, as the subjectivity in primary dealer name abbreviation and entry combination affected the direct comparison.

### Table 02

The following code reads in a manual data file that contains necessary information on primary dealers from 1960-2012 and then merges it with the CRSP Compustat Merge Linkhist table to get additional information on each, such as the SIC codes. The linkhist table is also used as the main reference table to pull the other comparison groups for the table.

In [2]:
db = wrds.Connection(wrds_username=config.WRDS_USERNAME)
merged_main, link_hist = Table02Prep.prim_deal_merge_manual_data_w_linktable()
merged_main

Loading library list...
Done

       gvkey                         conm   sic  Start Date    End Date
0       3243                CITIGROUP INC  6199  1960-05-19  2000-04-17
27      2029           BANKERS TRUST CORP  6020  1960-05-19  1989-07-07
57     15197      CHEMICAL FINANCIAL CORP  6020  1960-05-19  1965-06-29
82      3689         DISCOUNT CORP NY/DEL  6211  1960-05-19  1989-03-31
102   144496                 UBS GROUP AG  6282  1960-05-19  1988-12-14
...      ...                          ...   ...         ...         ...
1159   13294        NATL WESTMINSTER BANK  6020  1988-01-01  1990-07-31
1173    6682  JEFFERIES FINANCIAL GRP INC  6211  1988-06-20  1993-12-31
1226    5047          GENERAL ELECTRIC CO  9997  1988-06-24  1997-09-02
1279    1414                PRIMERICA INC  6311  1988-06-24  1995-07-26
1310    8007             WELLS FARGO & CO  6020  1988-06-24  1990-11-08

[64 rows x 5 columns]

In [3]:
link_hist

,gvkey,LPERMCO,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,costat,sic
0,1000,23369,1970-12-31,1970.0,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,USD,I,3089
1,1000,23369,1971-12-31,1971.0,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,USD,I,3089
2,1000,23369,1972-12-31,1972.0,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,USD,I,3089
3,1000,23369,1973-12-31,1973.0,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,USD,I,3089
4,1000,23369,1974-12-31,1974.0,INDL,C,D,STD,AE.2,A & E PLASTIK PAK INC,USD,I,3089
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320693,296318,53885,2012-12-31,2012.0,INDL,C,D,STD,ORIG,OCEAN RIG UDW INC,USD,I,1381
320711,296753,53991,2012-12-31,2012.0,INDL,C,D,STD,AVGTF,AVG TECHNOLOGIES NV,USD,I,7372
320724,296885,54281,2012-12-31,2012.0,INDL,C,D,STD,RDHL,REDHILL BIOPHARMA LTD,USD,A,2836
320747,297209,53928,2011-12-31,2011.0,INDL,C,D,STD,PACDQ,PACIFIC DRILLING SA,USD,A,1381
320748,297209,53928,2012-12-31,2012.0,INDL,C,D,STD,PACDQ,PACIFIC DRILLING SA,USD,A,1381

As mentioned above, the next step is now to use the linkhist table to determine what the other comparison groups are. We use SIC codes to determine broker dealers and banks, and we make sure to exclude any firms that are already in the primary dealer group so we do not have duplicates. Below is the reference table for broker dealers, which had explicit SIC codes mentioned in the paper - banks did not have explicit SIC codes mentioned and required research.

In [4]:
comparison_group_link_dict = Table02Prep.create_comparison_group_linktables(link_hist, merged_main)
comparison_group_link_dict['PD']

       gvkey                         conm   sic  Start Date    End Date
0       3243                CITIGROUP INC  6199  1960-05-19  2000-04-17
27      2029           BANKERS TRUST CORP  6020  1960-05-19  1989-07-07
57     15197      CHEMICAL FINANCIAL CORP  6020  1960-05-19  1965-06-29
82      3689         DISCOUNT CORP NY/DEL  6211  1960-05-19  1989-03-31
102   144496                 UBS GROUP AG  6282  1960-05-19  1988-12-14
...      ...                          ...   ...         ...         ...
1159   13294        NATL WESTMINSTER BANK  6020  1988-01-01  1990-07-31
1173    6682  JEFFERIES FINANCIAL GRP INC  6211  1988-06-20  1993-12-31
1226    5047          GENERAL ELECTRIC CO  9997  1988-06-24  1997-09-02
1279    1414                PRIMERICA INC  6311  1988-06-24  1995-07-26
1310    8007             WELLS FARGO & CO  6020  1988-06-24  1990-11-08

[64 rows x 5 columns]

In [5]:
comparison_group_link_dict.keys()

dict_keys(['BD', 'Banks', 'Cmpust.', 'PD'])

We then used each of the reference tables (primary dealers, broker dealers, banks, all firms in Compustat) and pulled data from the Compustat Fundamentals Quarterly table. The paper mentioned use of monthly data, but there was no apparent monthly table for financial statement data from Compustat. This led to some confusion about how these authors generated their ratios - I am wondering if they computed monthly ratios given what months came out of annual and then took the average.

Below is the dataset for broker dealers. We calculate or directly pull the values we need in our query so we don't need to do it after. It was mentioned in class this was a best practice because it would run on WRDS servers.

In [6]:
comparison_group_link_dict['PD'].describe()

              gvkey          sic
count      64.00000    64.000000
mean    24823.18750  6109.953125
std     46638.38162   732.931566
min      1395.00000  2750.000000
25%      4687.75000  6020.000000
50%      8938.00000  6020.000000
75%     15618.00000  6211.000000
max    248136.00000  9997.000000

In [7]:
datasets = Table02Prep.pull_data_for_all_comparison_groups(db, comparison_group_link_dict)
datasets['BD']

,datadate,total_assets,book_debt,book_equity,market_equity,gvkey,conm
0,1980-12-31,NaN,NaN,NaN,NaN,001148,ADVEST GROUP INC
1,1981-03-31,NaN,NaN,NaN,NaN,001148,ADVEST GROUP INC
2,1981-06-30,NaN,NaN,NaN,NaN,001148,ADVEST GROUP INC
3,1981-09-30,185.469,165.845,19.624,18.847482,001148,ADVEST GROUP INC
4,1981-12-31,208.419,187.814,20.605,25.638736,001148,ADVEST GROUP INC
...,...,...,...,...,...,...,...
5526,2007-06-30,2843.526,2589.891,NaN,NaN,209386,VAN DER MOOLEN NV
5527,2007-09-30,3903.258,3650.586,NaN,NaN,209386,VAN DER MOOLEN NV
5528,2007-12-31,1525.721,1352.675,173.046,186.570500,209386,VAN DER MOOLEN NV
5529,2008-03-31,3147.092,2984.300,NaN,193.259735,209386,VAN DER MOOLEN NV
5530,2008-06-30,5669.280,NaN,NaN,NaN,209386,VAN DER MOOLEN NV

We then prep that data further by aggregating by year and standardizing the date to the first of the year. We also convert the datadate to a datetime column that can be sliced.

In [8]:
prepped_datasets = Table02Prep.prep_datasets(datasets)
prepped_datasets['Banks']

      datadate  total_assets     book_debt  book_equity  market_equity
0   1961-12-31  5.587481e+03  1.976030e+02       38.218   0.000000e+00
1   1962-01-31  5.587481e+03  1.976030e+02       38.218   0.000000e+00
2   1962-02-28  5.587481e+03  1.976030e+02       38.218   0.000000e+00
3   1962-03-31  3.834182e+04  8.856356e+03     3634.640   7.576084e+03
4   1962-04-30  3.834182e+04  8.856356e+03     3634.640   7.576084e+03
..         ...           ...           ...          ...            ...
608 2012-08-31  1.416292e+07  1.307771e+07  1052737.713   9.559874e+05
609 2012-09-30  1.449611e+07  1.337541e+07  1087465.920   1.013102e+06
610 2012-10-31  1.448674e+07  1.336709e+07  1086421.658   1.011443e+06
611 2012-11-30  1.448674e+07  1.336709e+07  1086421.658   1.011443e+06
612 2012-12-31  1.429135e+07  1.316444e+07  1092057.409   1.074245e+06

[613 rows x 5 columns]

In [9]:
prepped_datasets['BD']

      datadate  total_assets   book_debt  book_equity  market_equity
0   1966-03-31         0.000       0.000        0.000       0.000000
1   1966-04-30         0.000       0.000        0.000       0.000000
2   1966-05-31         0.000       0.000        0.000       0.000000
3   1966-06-30         0.000       0.000        0.000       0.000000
4   1966-07-31         0.000       0.000        0.000       0.000000
..         ...           ...         ...          ...            ...
557 2012-08-31    296052.313  259743.893    36300.329   38384.717914
558 2012-09-30    300698.753  263789.985    36907.837   37567.399166
559 2012-10-31    300203.529  263680.218    36522.380   37066.918436
560 2012-11-30    300203.529  263680.218    36522.380   37066.918436
561 2012-12-31    296866.536  260938.547    35926.999   39379.496516

[562 rows x 5 columns]

We then weave in some of our analysis into the process, whenever the necessary dataset for the analysis is first available. Below is our main table of ratios, where we have computed the
$$
\frac{\text{Primary dealers amount}}{\text{Comparison group amount (less PD) + Primary dealers amount}}
$$

In [10]:
Table02Analysis.create_summary_stat_table_for_data(datasets)
table = Table02Prep.create_ratios_for_table(prepped_datasets)
table

,total_assets_BD,book_debt_BD,book_equity_BD,market_equity_BD,total_assets_Banks,book_debt_Banks,book_equity_Banks,market_equity_Banks,total_assets_Cmpust.,book_debt_Cmpust.,book_equity_Cmpust.,market_equity_Cmpust.,Period
datadate,,,,,,,,,,,,,
1962-03-31,NaN,NaN,NaN,NaN,0.28,0.48,0.25,0.23,0.28,0.48,0.25,0.23,1960-2012
1962-04-30,NaN,NaN,NaN,NaN,0.28,0.48,0.25,0.23,0.28,0.48,0.25,0.23,1960-2012
1962-05-31,NaN,NaN,NaN,NaN,0.28,0.48,0.25,0.23,0.28,0.48,0.25,0.23,1960-2012
1962-06-30,NaN,NaN,NaN,NaN,0.37,0.65,0.33,0.35,0.37,0.65,0.33,0.32,1960-2012
1962-07-31,NaN,NaN,NaN,NaN,0.37,0.65,0.33,0.35,0.37,0.65,0.33,0.32,1960-2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-09-30,0.88,0.88,0.68,0.67,0.13,0.13,0.06,0.07,0.03,0.04,0.00,0.00,1990-2012
2008-10-31,0.58,0.60,0.37,0.37,0.03,0.03,0.02,0.02,0.01,0.01,0.00,0.00,1990-2012
2008-11-30,0.58,0.60,0.37,0.37,0.03,0.03,0.02,0.02,0.01,0.01,0.00,0.00,1990-2012
2008-12-31,0.60,0.62,0.38,0.44,0.03,0.03,0.02,0.03,0.01,0.01,0.00,0.00,1990-2012
2009-01-31,0.60,0.62,0.38,0.40,0.03,0.03,0.02,0.03,0.01,0.01,0.00,0.00,1990-2012

We create a figure that can give the reader insight into how the ratios have shifted over time for each category and comparison group. We had to clean some of the data and fill null values to have the graph look reasonable but without changing the overall shape of it too dramatically.
Lastly, we get our final table which was what we were trying to replicate from the paper. This table is then converted to LaTeX and outputted to a .tex file.

In [11]:
formatted_table = Table02Prep.format_final_table(table)
formatted_table

Metric    Total assets               Book debt               Book equity  \
Source              BD Banks Cmpust.        BD Banks Cmpust.          BD
Period
1960-2012         0.76  0.20    0.10      0.76  0.21    0.13        0.74
1960-1990         0.91  0.25    0.14      0.91  0.27    0.18        0.87
1990-2012         0.56  0.12    0.03      0.56  0.12    0.04        0.58

Metric                  Market equity
Source    Banks Cmpust.            BD Banks Cmpust.
Period
1960-2012  0.19    0.05          0.73  0.18    0.04
1960-1990  0.24    0.08          0.80  0.22    0.06
1990-2012  0.11    0.01          0.65  0.14    0.01

In [12]:
formatted_table

Metric    Total assets               Book debt               Book equity  \
Source              BD Banks Cmpust.        BD Banks Cmpust.          BD
Period
1960-2012         0.76  0.20    0.10      0.76  0.21    0.13        0.74
1960-1990         0.91  0.25    0.14      0.91  0.27    0.18        0.87
1990-2012         0.56  0.12    0.03      0.56  0.12    0.04        0.58

Metric                  Market equity
Source    Banks Cmpust.            BD Banks Cmpust.
Period
1960-2012  0.19    0.05          0.73  0.18    0.04
1960-1990  0.24    0.08          0.80  0.22    0.06
1990-2012  0.11    0.01          0.65  0.14    0.01